<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bosh sahifa</title>
</head>
<body>
    <h2>Salom</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est suscipit accusamus eveniet repellat nesciunt dolores ad tenetur iure consequuntur, recusandae fugiat sint, aperiam dicta optio similique quibusdam quam amet. Minima iure, reiciendis ipsam ipsum repellat illum aut voluptatibus dolore voluptatum, nulla exercitationem officiis, nobis consequatur accusantium soluta. Quo, enim debitis?</p>
</body>
</html>